.App {
  max-width: 800px;
  margin: 30px auto;
  padding: 40px 60px;
  border: 1px solid #888888;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  font-family: "Maitree", serif;
  background: #c9ccd3;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.go-button {
  position: relative;
  left: 6px;
  bottom: 5px;
}

.currentLocationButton {
  position: relative;
  left: 235px;
  bottom: 43px;
  border: 1px solid #888888;
  border-radius: 5px;
  padding: 6px 15px;
  color: #588da8;
  transition: all 200ms ease-in-out;
}
.currentLocationButton:hover {
  cursor: pointer;
  color: white;
  background: #588da8;
}

.listGroupCities {
  max-width: 200px;
  position: relative;
  top: -80px;
  left: 450px;
  line-height: 0.5px;
  color: #588da8;
}

.row1 {
  margin-top: -80px;
  text-align: left;
  font-size: 22px;
  color: #588da8;
  font-weight: 900;
}

h1 {
  color: #588da8;
  font-weight: 900;
  font-size: 50px;
}

h2,
h3 {
  color: #5d5b6a;
  font-size: 20px;
}

.row2 {
  margin-top: 20px;
}

.currentDegrees {
  font-size: 80px;
  color: #588da8;
  padding-right: 30px;
  line-height: 20px;
}

.units {
  font-size: 18px;
  position: relative;
}

.main-icon {
  position: relative;
  left: 60px;
}

.list-group-information {
  margin-left: -50px;
  line-height: 10px;
  border-left: 5px solid #588da8;
  color: #5d5b6a;
  font-size: 20px;
}

.open-source-code {
  position: relative;
  top: 80px;
  text-align: center;
  font-size: 14px;
}
