.App {
  max-width: 600px;
  margin: 30px auto;
  padding: 40px 80px;
  border: 1px solid #888888;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  font-family: "Maitree", serif;
  background: #c9ccd3;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.go-button {
  position: relative;
  left: 160px;
  bottom: 30px;
  border: 1px solid #888888;
  color: #2196f2;
  transition: all 200ms ease-in-out;
}

.go-button:hover {
  cursor: pointer;
  color: white;
  background: #2196f2;
}

.listGroupCities {
  font-size: 10px;
  position: relative;
  top: 80px;
}

h1 {
  color: #2196f2;
  font-weight: 900;
  font-size: 50px;
}

h2 {
  margin-top: -35px;
}

h2,
h3 {
  color: #5d5b6a;
  font-size: 20px;
}

.weatherInformation {
  margin-top: 5px;
}

.currentDegrees {
  font-size: 80px;
  color: #5d5b6a;
}

.units {
  font-size: 18px;
  text-decoration: none;
  color: #5d5b6a;
  position: relative;
  bottom: 40px;
  left: 5px;
}

canvas {
  display: inline-block;
  margin-top: 10px;
  margin-left: -20px;
}

.list-group-information {
  line-height: 14px;
  color: #5d5b6a;
  font-size: 16px;
}

.open-source-code {
  position: relative;
  top: 80px;
  text-align: center;
  font-size: 14px;
}
